<!-- Bottom Navigation -->
<div class="bottom-nav">
    <a href="/Home/Index"><i class="fas fa-home"></i> Beranda</a>
    <a href="/history"><i class="fas fa-history"></i> Riwayat</a>
    <a href="/mutasi"><i class="fas fa-money-check-alt"></i> Mutasi</a>
    <a href="/profile"><i class="fas fa-user"></i> Akun</a>
</div>
@RenderBody()