@import url("colors.css");

/* Body padding to prevent overlap with bottom bar */
body {
    margin: 0;
    padding-bottom: 60px;
    padding-top: 60px;
    font-family: 'Courier New', Courier, monospace;
}

.mobile-wrapper {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.mobile-container {
    width: 100vh;
    max-width: 575px;
    display: flex;
    flex: 1;
    padding: 8px;
    flex-direction: column;
}


.header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    z-index: 10;
    padding: 20px 20px 20px 20px;
    color: var(--white);
    justify-content: space-between;
}

.header-nav i {
    margin-left: -40px; /* Adjust this value if needed */
    cursor: pointer; /* Ensure the icon indicates interactivity */
}


/* Bottom navigation bar */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary);
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    color: var(--white);
}

.bottom-nav a {
    color: var(--white);
    font-size: 18px;
    text-align: center;
    flex: 1;
    text-decoration: none;
}

.bottom-nav a:hover,
i:hover {
    color: var(--hover-button);
}

.bottom-nav a i {
    display: block;
    font-size: 22px;
}