@import url("configs/app.css");
@import url("configs/colors.css");

.card {
    background-color: var(--white);
    border: none;
    border-radius: 10px;
}

.btn {
    background-color: var(--primary);
    border-radius: 10px;
    color: var(--white);
}

h6 {
    color: var(--primary);
}

.text-muted {
    font-size: 0.85rem;
}

.badge {
    font-size: 0.8rem;
}