@import url("configs/app.css");
@import url("configs/colors.css");

.transaction-list {
    padding: 15px;
}

.transaction-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid var(--white);
}

.transaction-item:last-child {
    border-bottom: none;
}

.transaction-info {
    display: flex;
    flex-direction: column;
}

.status {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    margin: 5px;
    color: var(--white);
}

.status.ok {
    background-color: var(--yellow);
}

.status.wp {
    background-color: var(--red);
}

.transaction-item small {
    color: var(--gray);
}

.transaction-amount {
    text-align: right;
    font-weight: bold;
}

/* search */

.search-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    justify-content: center;
    align-items: center;
}

.search-popup-content {
    background-color: var(--white);
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
}

.search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

.close-popup {
    float: right;
    font-size: 18px;
    cursor: pointer;
}