@import url("configs/app.css");
@import url("configs/colors.css");

.offcanvas-header {
    background-color: var(--primary);
    color: var(--white);
}

.offcanvas-body {
    padding: 0;
}

.offcanvas-body .nav-item {
    padding: 10px 15px;
}

.offcanvas-body .nav-link {
    font-size: 16px;
    color: var(--black);
}

.offcanvas-body .nav-link i {
    margin-right: 10px;
}

/* Custom styles for the header section */
.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--primary);
    color: var(--white);
}

.balance-section {
    color: var(--white);
    background-color: var(--primary);
}


/* Styling for banner section */
.banner img {
    width: 100%;
    border-radius: 10px;
}

/* Styling for icons grid */
.category-icons .icon-box {
    text-align: center;
    padding: 10px;
}

.category-icons .icon-box img {
    width: 40px;
}

.category-icons .icon-box p {
    margin-top: 5px;
    font-size: 14px;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-dark .navbar-toggler {
    border-color: var(--black);
}

.icon-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
}

.icon-categories div {
    width: 24%;
    margin-bottom: 20px;
    text-align: center;
}

.icon-categories i {
    font-size: 28px;
    display: block;
    margin-bottom: 5px;
}