@import url("configs/app.css");
@import url("configs/colors.css");

body {
    background-color: var(--primary);
}

.card {
    background-color: var(--white);
    border: none;
    border-radius: 10px;
}

h2 {
    font-weight: bold;
}

.btn-dark {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-outline-dark {
    border-color: var(--white);
}

.input-group-text {
    border: none;
    background-color: var(--white);
}

.form-control {
    border: none;
    border-radius: 0;
    background-color: var(--white);
    padding-left: 0;
}

input:focus {
    box-shadow: none;
}