@import url("configs/app.css");
@import url("configs/colors.css");

.card {
    background-color: var(--primary);
    border: none;
    color: var(--white);
    border-radius: 10px;
}

.nav-tabs .nav-link {
    border: none;
}

.nav-link.active {
    font-weight: bold;
    border-bottom: 2px solid var(--black);
}

.text-muted {
    color: var(--gray) !important;
}

.navbar p {
    margin: 0;
    font-size: 12px;
}

.navbar .text-center {
    font-size: 20px;
}

.transaction-item {
    border-bottom: 1px solid var(--white);
    padding: 10px 0;
}

.transaction-item:last-child {
    border-bottom: none;
}

.transaction-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}