@import url("configs/app.css");
@import url("configs/colors.css");


.navbar {
    background-color: var(--primary);
    /* Dark background */
}

.card {
    background-color: var(--white);
    border: none;
    border-radius: 10px;
}

.btn-close {
    background-color: var(--white);
}

h6 {
    color: var(--primary);
}

.text-muted {
    font-size: 0.85rem;
}